.table_total table, tr, td{
border-top: 1px solid black;
border-right: none !important;
border-left: none !important;
}
.invoice-table-header th {
        color: #ffffff !important;
        background-color: #714B67 !important;
    }
.table_total tr td:nth-child(2) {
    color: black !important;
}
.no_border tr td {
border-top: none !important;
border-left: none !important;
border-right: none !important;
border-bottom: none !important;
}